.flip-card {
    background-color: transparent;
    height: 350px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 3%;
    padding: 2%;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border: 2px black;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color: white;
  }
  
  /* Style the back side */
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
  }

  .name{
    align-items: center;
  }

  .pic{
    max-width: 15rem;
    height: 15rem;
    border-radius: 10%;
  }

  .hrwhite {
    margin: 30px 0;
    height: 4px;
    border: none;
    background: linear-gradient(90deg, rgba(0,0,0,0) 35%, rgba(251,251,251,1) 47%, rgba(251,251,251,1) 53%, rgba(0,0,0,0) 65%);
}

.title{
  text-align: center;
  font-weight: 500;
  color: aliceblue;
}
#Team{
  background-color: #1A1A40;
  color: aliceblue;
}

.team-title{
  text-align: center;
  font-family: 'Oswald';
  padding-top: 3%;
}

.sec-tit{
  font-size: 6rem;
}


.team-info{
  text-align: center;
}

.post{
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-size: 4rem;
}

.scmed{
  margin: 30px;
  color: white;
}

.scmed:hover{
  color:aqua;
}

.back-content{
  padding-top: 10%;
}

.row{
  max-width: 100%;
  padding: 0% 8%;
}

#mentors-row{
  padding: 0% 20%;
}
