html{overflow-x:hidden}

@media all and (min-width: 900px) {
  nav {
    background-color: transparent !important;
  }
  .navbar-nav{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.navbar-nav li span{color: #000;}

@media all and (max-width: 900px){
  nav {
    background-color: black !important;
  }
  .navbar-nav li a{background-image: linear-gradient(to right, white, white) !important;}
  .navbar-nav li span{color: #fff !important;}
  .navbar-nav{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
  }
}

.navbar-toggler{
  width: 47px;
  height: 34px;
  background-color: #000;
  border:none;
}
.navbar-toggler .line{
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

.navbar-nav li{
  padding-left: 30px; 
  padding-right: 30px;
  font-size: 120%; 
}

.navbar-nav li a{
  background-image: linear-gradient(to right, #54b3d6 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.navbar-nav li a:before{
  content: '';
  background:#54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.navbar-nav li a:hover {
 background-position: 0;
 transform: scale(1.3);
}

.navbar-nav li a:hover::before{
  width: 100%;
}

.scrolled{
  background-color: #000 !important;
  transition: 200ms linear;
  }
  

.color li a{
  background-image: linear-gradient(to right, #22577e 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.color li a:before{
  content: '';
  background:#000;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.color li a:hover {
  background-position: 0;
  transform: scale(1.3);
 }
 
 .color li a:hover::before{
   width: 100%;
 }

.color li span{color: #fff !important;}


.flip-card {
  background-color: transparent;
  height: 350px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 3%;
  padding: 2%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border: 2px black;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: white;
}

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}

.name{
  align-items: center;
  padding-top: 5px;
}

.pic{
  max-width: 15rem;
  height: 15rem;
  border-radius: 10%;
}

.hrwhite {
  margin: 30px 0;
  height: 4px;
  border: none;
  background: linear-gradient(90deg, rgba(0,0,0,0) 35%, rgba(251,251,251,1) 47%, rgba(251,251,251,1) 53%, rgba(0,0,0,0) 65%);
}

.title{
text-align: center;
font-weight: 500;
color: aliceblue;
}
#Team{
background-color: #1A1A40;
color: aliceblue;
}

.team-title{
text-align: center;
font-family: 'Oswald';
padding-top: 3%;
}

.sec-tit{
font-size: 4rem;
padding-top: 5%;
}


.team-info{
text-align: center;
}

.post{
margin-top: 4rem;
margin-bottom: 3rem;
}

.scmed{
margin: 30px;
color: white;
}

.scmed:hover{
color:aqua;
}

.back-content{
padding-top: 10%;
}

.row{
max-width: 100%;
padding: 0% 8%;
}

#mentors-row{
padding: 0% 20%;
}