/* @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Audiowide');

html{overflow-x:hidden}

body{background-color: #231955 !important;}


.waviy {
  position: relative;
  -webkit-box-reflect: below -80% linear-gradient( to bottom ,transparent, rgba(35,25,85,.3));
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
  
}
.waviy span {
  font-family: 'Audiowide', sans-serif  ;
  position: relative;
  padding-left: 10px;
  display: inline-block;
  color: #ffe5b4;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

@media all and (min-width: 992px) {.navbar{background-color: transparent !important;}}

.navbar-nav li span{color: #000;}

@media all and (max-width: 992px){
  .navbar-nav li a{background-image: linear-gradient(to right, white, white) !important;}
  .navbar-nav li span{color: #fff !important;}
  .navbar-nav{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
  }
}
.navbar-toggler{
  width: 47px;
  height: 34px;
  background-color: #000;
  border:none;
}
.navbar-toggler .line{
  width: 100%;
  float: left;
  height: 2px;
  background-color: #8fe3cf;
  margin-bottom: 5px;
}

.navbar-nav li{
    padding-left: 30px; 
    padding-right: 30px;
    font-size: 130%; 
}


.navbar-nav li a{
    background-image: linear-gradient(
      to right,
     #faffaf 50%,
      #fff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-nav li a:before{
    content: '';
    background:#faffaf;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-nav li a:hover {
   background-position: 0;
   transform: scale(1.3);
  }
  
  .navbar-nav .dropdown-menu li:hover{ 
    background-position: 0;
    transform: scale(1) !important;}
  
  .navbar-nav li a:hover::before{
    width: 100%;
  }
    
  .all {
    font-family: 'Audiowide', sans-serif ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
    font-weight: 300;
    perspective: 10px;
    /* transform: perspective(300px) rotateX(20deg); */
    /* will-change: perspective; */
    /* perspective-origin: center center; */
    /* transition: all 1.3s ease-out; */
    /* transform-style: preserve-3d; */
  }
  /* .all:hover {
    perspective: 1000px;
    transition: all 1.3s ease-in;
    transform: perspective(10000px) rotateX(0deg);
  } */
  .all:hover .texti {
      opacity: 1;
    }
  
    .all:hover  div {
      opacity: 1;
      transition-delay: 0s;
    }
    .all:hover .explainer {
      opacity: 0 !important;
    }
  
  
  .left, .center, .right, .lefter, .righter {
    width: 300px;
    height: 200px;
    /* transform-style: preserve-3d; */
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 20px 5px rgba(100, 100, 255, .4);
    opacity: 0;
    /* transition: all .3s ease; */
    /* transition-delay: 1s; */
    position: relative;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #BCCEF8;
    cursor: pointer;
    background-blend-mode: color-burn;
  }
    /* .left:hover {
      box-shadow: 0 0 30px 10px rgba(100, 100, 255, 1);
    background-color: #ccf;
    
    } */
    .center:hover {
      box-shadow: 0 0 30px 10px rgba(100, 100, 255, .6);
    background-color: #ccf;
    
    }
    /* .right:hover {
      box-shadow: 0 0 30px 10px rgba(100, 100, 255, .6);
    background-color: #ccf;
    
    } */
    /* .lefter:hover {
      box-shadow: 0 0 30px 10px rgba(100, 100, 255, .6);
    background-color: #ccf;
    
    } */
    /* .righter:hover {
      box-shadow: 0 0 30px 10px rgba(100, 100, 255, .6);
    background-color: #ccf;
    
    } */
  
  .texti {
    transform: translateY(30px);
    opacity: 0;
    transition: all .3s ease;
    bottom: 0;
    left: 5px;
    position: absolute;
    will-change: transform;
    color: #fff;
    text-shadow: 0 0 5px rgba(100, 100, 255, .6);
    padding-left: 40%;
  }
  /* .lefter {
    transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/organization-512.png);
  }
  .left {
    transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/creative_draw-512.png);
  } */
  .center {
    opacity: 1;
    background-image: url(https://icons-for-free.com/iconfiles/png/512/vscode+icons+type+arduino-1324451237260376752.png);
  }
  /* .right {
    transform: translateX(30px) translateZ(-25px) rotateY(5deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/cloud_weather-512.png);
  }
  .righter {
    transform: translateX(60px) translateZ(-50px) rotateY(10deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/search-512.png);
  } */
  .explainer {
    font-weight: 300;
    font-size: 2rem;
    color: #fff;
    transition: all .6s ease;
    width: 100%;
    height: 100%;
    background-color: #303050;
    background-image: radial-gradient(circle at center top , #cce, #33a);
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, .8);
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .lefter a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; 
    z-index: 10;
    background-color: #FFF; 
    opacity: 0; 
    filter: alpha(opacity=1); 
  } 

  .left a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; 
    z-index: 10;
    background-color: #FFF; 
    opacity: 0; 
    filter: alpha(opacity=1); 
  }

  .right a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; 
    z-index: 10; 
    background-color: #FFF; 
    opacity: 0; 
    filter: alpha(opacity=1); 
  }

  .righter a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; 
    z-index: 10; 
    background-color: #FFF; 
    opacity: 0; 
    filter: alpha(opacity=1); 
  } */
  .center a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
  }