@import url('https://fonts.googleapis.com/css?family=Audiowide');

html{overflow-x:hidden}

body{background-color: #231955 !important;}

.waviy {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
  padding-top: 3%;
  
}
@media all and (min-width: 900px){
  .waviy {
    font-size: 4vw;
  }
}

@media all and (max-width: 900px){
  .waviy{
    font-size: 7vw;
  }
}
.waviy span {
  font-family: 'Audiowide', sans-serif  ;
  position: relative;
  padding-left: 10px;
  display: inline-block;
  color: #ffe5b4;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-10px)
  }
}

@media all and (min-width: 900px) {
  nav {
    background-color: transparent !important;
  }
  .navbar-nav{
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    text-align: center;
  }
}

.navbar-nav li span{color: #000;}

@media all and (max-width: 900px){
  nav {
    background-color: black !important;
  }
  .navbar-nav li a{background-image: linear-gradient(to right, white, white) !important;}
  .navbar-nav li span{color: #fff !important;}
  .navbar-nav{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
  }
}

.navbar-toggler{
  width: 47px;
  height: 34px;
  background-color: #000;
  border:none;
}
.navbar-toggler .line{
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

.navbar-nav li{
  padding-left: 30px; 
  padding-right: 30px;
  font-size: 120%; 
}

.navbar-nav li a{
  background-image: linear-gradient(to right, #54b3d6 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.navbar-nav li a:before{
  content: '';
  background:#54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.navbar-nav li a:hover {
 background-position: 0;
 transform: scale(1.3);
}

.navbar-nav li a:hover::before{
  width: 100%;
}

.all {
  font-family: 'Audiowide', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  
  background-color: #000;
  overflow: hidden;
  
}
 @media all and (min-width: 900px){ 
  .all {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 65vh;
  }
 } 
 @media all and (max-width: 900px){

  .all {
    height: fit-content;
  }

  .class1, .class2 {
    height: 40vw !important;
    width: 70% !important;
  }

  .Link {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20%;
    margin-bottom: 20%;
  }

}  

.class1{
  text-align: center;
  width: 50%; 
  height: 18vw;
  background-image: url('Images/Chess1.jpg');
  background-size: cover;
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
  border: 1px solid #fff;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: #BCCEF8; */
  cursor: pointer;
  /* background-blend-mode: color-burn; */
}

.class2{
  text-align: center;
  width: 50%; 
  height: 18vw;
  background-image: url('Images/Robot1.jpg');
  background-size: cover;
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
  border: 1px solid #fff;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: #BCCEF8; */
  cursor: pointer;
}

.class1:hover, .class2:hover {
  box-shadow: 0 0 30px 10px rgba(100, 100, 255, 0.5);
}

.all:hover .shown{
  transform: translateX(-200px);
  transition: 1.5s;
  opacity: 0 !important  ;
}

.shown {
  padding: 5%;
  font-weight: 300;
  font-size: 2vw;
  color: #fff;
  transition: all .6s ease;
  width: 100%;
  height: 100%;
  background-color: #303050;
  border-radius: 10px;
  text-shadow: 0 0 10px rgba(255, 255, 255, .8);
  
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
@media all and (max-width: 900px){
  .shown{font-size: 4vw;}
}
 .text{
  color: white;
  padding-top: 5%;
  opacity: 0;
 }

 .all:hover .text {
  opacity: 1 !important;
 }

 .Link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
 }