@import url('https://fonts.googleapis.com/css?family=Audiowide');

.Total {
  overflow-x: hidden;
  position: relative;
}

@media all and (min-width: 992px) {
  .navbar{background-color: transparent !important;}
  .navbar-nav{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}


.navbar-nav li span{color: #000;}

@media all and (max-width: 992px){
  .navbar-nav li a{background-image: linear-gradient(to right, white, white) !important;}
  .navbar-nav li span{color: #fff !important;}
  .navbar-nav{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
  }
}

.navbar-toggler{
  width: 47px;
  height: 34px;
  background-color: #000;
  border:none;
}
.navbar-toggler .line{
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

.scrolled{
background-color: #000 !important;
transition: 200ms linear;
}


.navbar-nav li{
  padding-left: 30px; 
  padding-right: 30px;
  font-size: 120%; 
}

.navbar-nav li a{
  background-image: linear-gradient(to right, #54b3d6 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.navbar-nav li a:before{
  content: '';
  background:#54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.navbar-nav li a:hover {
 background-position: 0;
 transform: scale(1.3);
}

.navbar-nav li a:hover::before{
  width: 100%;
}

.color li a{
  background-image: linear-gradient(to right, #22577e 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.color li a:before{
  content: none !important;
  background:#22577e;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.color li a:hover {
  background-position: 0;
  transform: scale(1.3);
 }
 
 .color li a:hover::before{
   width: 100%;
 }

.color li span{color: #fff !important;}


.first {
  /* background-image: url('Images/White.jpg'); */
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.second{
  /* background-image: url('Images/Black.jpg'); */
  background-color: pink;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.third {
  /* background-image: url('Images/Black.jpg'); */
  background-color: pink;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.main-events, .Projects {
  width: 100%;
  height: 10cm;
  margin-bottom: 1px;
}
.main-events .background {
  background-image: url('Images/Events\ Background.jpg');
  /* background-color: blue  ; */
  background-size:cover;
  background-position: center center;
  width: 100%;
  height: 10cm;
  background-attachment: fixed;
}

.Projects .background {
  background-image: url('Images/Projects\ Background.JPG');
  /* background-color: blue  ; */
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 10cm;
  background-attachment: fixed;
}

 .main-events .title, .Projects .title {
  text-align: center;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: 86%;
  color: white;
  position: relative;
  left: 50%;
  top: 50%;
  width: max-content;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px black;
}

.title {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.main-events .title span {
  font-family: 'Audiowide', sans-serif ;
  position: relative;
  display: inline-block;
  font-size: 10vw;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(1s * var(--i))
}

.Projects .title span {
  font-family: 'Audiowide', sans-serif ;
  position: relative;
  display: inline-block;
  font-size: 10vw;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(1s * var(--i))
}

@keyframes flip {0%,80% {transform: rotateY(360deg)}}

.contact_us{
  background-image: radial-gradient(ellipse at top center, #150050, #000000);
  color: white;
  overflow: hidden;
}

.coordinators {
  display: flex;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
  display: flex;
  justify-content: center;
  font-size: 4vw;
  font-weight: 100;
}
.heading span{
  color: red;
  font-weight: 450 !important;
}
.GMAIL {
  display: flex;
  justify-content: center;
  font-size: 2vw;
  font-weight: 400;
  margin-left: 35%;
  margin-right: 35%;
  padding-bottom: 1%;
  padding-top: 1%;

}
.GMAIL:hover{
  transition: 0.5s;
  box-shadow: 0 0 3px 3px red;
  border: 1px solid red;
}
.contact1, .contact2, .contact3{
  width: 33.333%;
  float: left;
  margin-bottom: 1%;
  margin-left: 7%;
  margin-right: 7%;
  padding-bottom: 2%;
  padding-top: 2%;
  

}
.contact1:hover, .contact2:hover, .contact3:hover{
  transition: 0.5s;
  box-shadow: 0 0 3px 3px red;
  border: 1px solid red;
}
.name {font-size: 1.5vw;}
.phno {font-size: 1.1vw;}
.mail {font-size: 1.1vw;}

@media all and (max-width: 900px){
  .coordinators {
    display: block ;
  }
  .contact1, .contact2{
    margin-left: 15% ;
    margin-bottom: 10%;
    width: 25% ;
    transition: 0.5s;
    box-shadow: 0 0 3px 3px red;
    border: 1px solid red;
  }
  .contact3 {
    margin-left: 35%;
    margin-bottom: 7%;
    width: 30%;    
    transition: 0.5s;
    box-shadow: 0 0 3px 3px red;
    border: 1px solid red;
  }
  .GMAIL {
    font-size: 4vw;
    margin-left:10% ;
    margin-right:10%;
    margin-bottom: 5%;
  }
  .name {font-size: 2.5vw;}
  .phno {font-size: 1.5vw;}
  .mail {font-size: 1.5vw;}
  .heading {font-size: 8vw;}
}
@media all and (max-width: 600px){

  .contact1, .contact2, .contact3{
    margin-left: 20%;
    width: 60% !important;
  }
  .GMAIL {
    font-size: 5vw;
  }
  .name {font-size: 4vw;}
  .phno {font-size: 3vw;}
  .mail {font-size: 3vw;}
  .heading {font-size: 9vw;}
}

